
                     
		 			.img {
		 				position: absolute;
		 			}	

		 			#leftSide {
		 					
		 				position: absolute;
		 				width: 600px;
		 				height: 500px;
		 				text-align: center;
		 				 
		 			}

		 			#leftSide > img {
		 				position: absolute;
		 			}

		 			#rightSide {
		 				
		 				position: absolute;
		 				width: 600px;
		 				height: 500px;
		 				left: 500px; 
		 				text-align: center;
           			    border-left: 4px solid black;
		 			}

		 			#scoreDisplay {
		 				text-align: center;
		 				font-weight: bold;
		 				padding-top: 550px;


		 			}

		 			#currentLevel {
		 				padding-left: 460px;
		 				font-weight: bold;
		 				color:  #00b359;
		 				
		 			}

		 			h1 {
		 				text-align: center;
		 				color:  #0073e6;
		 			}

		 			#instructions {
		 				font-weight: bold;
		 			}

		 			#note {
		 				color: red;
		 				font-weight: bold;
		 			}